.panel-heading{
	text-align: center;
	font-size: 1.5rem
}

.panel{
	border: 1px solid;
	padding: 10px;
	box-shadow: 5px 10px #888888;
}

.historyCell {
	height: 80px;
	border-bottom: 1px solid lightgray;
	border-radius: 0px;
}

.icon {
	position: relative;
	top: 20px;
	left: 20px;
}

.logo {
	height: 40px;
	filter: grayscale(100%);
}
