<div class="col-md-6">
		<div class="panel panel-primary">
				<div class="panel-heading style"><img src="../../../../images/arrows.png" alt="arrows-img"> Make Transfer</div>
				<div class="panel-body">
					FROM ACCOUNT:
					<input type="text" class="form-control smallText" placeholder="Free Checking(4692) - $5824.76"> <br>
					TO ACCOUNT:
					<input type="text" class="form-control smallText" placeholder="Georgia Power Electric Company"> <br>
					AMOUNT:
					<input type="text" class="form-control smallText" placeholder="$0.00"> <br><br>
					<Button id="transfer" class="btn btn-warning" (click)="submit()">TRANSFER</Button>
				</div>
			</div>
</div>
		